<div class="index">
  <%= Enum.map @content, fn(post) ->
    """
    #{post.content}
    <hr />
    """
  end %>

  <textarea id="js-editor"></textarea>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/tinymce/4.6.4/tinymce.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/tinymce/4.6.4/themes/modern/theme.min.js"></script>

  <%= @prev %>
  <%= @next %>
</div>
